<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516797630078-ehuk4g1ubkpe3q05pbmjns799lt6npot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516797630078-ehuk4g1ubkpe3q05pbmjns799lt6npot</string>
	<key>API_KEY</key>
	<string>AIzaSyBkGFt-DX7UKX9ix0ZklNIiygKJlLb0dE4</string>
	<key>GCM_SENDER_ID</key>
	<string>516797630078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instamock</string>
	<key>PROJECT_ID</key>
	<string>instamock-c1d04</string>
	<key>STORAGE_BUCKET</key>
	<string>instamock-c1d04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516797630078:ios:59711ba939444a36363a2f</string>
</dict>
</plist>